html{
	min-height: 100%;
}
h1	{
	font-size:
}

body {
	font-family: 'Black Han Sans', sans-serif;
	background-color: #90EE90;
	
	
}
#game {
	height: 80%;
}

	
}

.hidden {
		
	
	
}
.visible {
	border-radius: 0.5em;
	width: 8em;
	height: 8em;
	background-color: #006400;
	font-size: 1.5em;
	margin:0.2em;
	text-align: center;
	vertical-align: center;
	color: black;
	float: left;
	display: initial;
	color: white;
}

.taken {
		border-radius: 0.5em;
	width: 8em;
	height: 8em;

	font-size: 1.5em;
	margin:0.2em;
	text-align: center;
	vertical-align: center;
	color: black;
	float: left;
	background-color: #90EE90;

	
	
} 


footer {
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
	height: 20%;
	color: #00FF7F;
	background-color: black;
	
}

footer div{
	float: left;
	width: 21%;
	text-align: center;
	padding: 2%;
	}
	
footer div p {
	font-size: 2em;
	text-align: center;
	
}